@use "@angular/material" as mat;

@include mat.core();

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$deep-purple-palette),
      accent: mat.define-palette(mat.$deep-orange-palette),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$purple-palette),
      accent: mat.define-palette(mat.$deep-orange-palette),
    ),
  )
);

@include mat.core-theme($light-theme);
@include mat.button-theme($light-theme);
@include mat.toolbar-theme($light-theme);
@include mat.tabs-theme($light-theme);
@include mat.select-theme($light-theme);
@include mat.input-theme($light-theme);
@include mat.form-field-theme($light-theme);

@media (prefers-color-scheme: dark) {
  @include mat.core-color($dark-theme);
  @include mat.button-color($dark-theme);
  @include mat.toolbar-color($dark-theme);
  @include mat.tabs-color($dark-theme);
  @include mat.select-color($dark-theme);
  @include mat.input-color($dark-theme);
  @include mat.form-field-color($dark-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
