<div class="fields-container">
  <mat-form-field>
    <mat-label>Number</mat-label>
    <input [(ngModel)]="enteredNumber" matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Unit</mat-label>
    <mat-select [(ngModel)]="selectedUnit">
      <mat-option *ngFor="let unit of units" [value]="unit">{{
        unit
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Locale</mat-label>
    <mat-select [(ngModel)]="locale">
      <mat-option [value]="undefined">Browser default</mat-option>
      <mat-option *ngFor="let language of languages" [value]="language">{{
        language
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Unit display</mat-label>
    <mat-select [(ngModel)]="unitDisplay">
      <mat-option [value]="undefined">Browser default</mat-option>
      <mat-option [value]="'narrow'">narrow</mat-option>
      <mat-option [value]="'short'">short</mat-option>
      <mat-option [value]="'long'">long</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Notation</mat-label>
    <mat-select [(ngModel)]="notation">
      <mat-option [value]="undefined">Browser default</mat-option>
      <mat-option [value]="'standard'">standard</mat-option>
      <mat-option [value]="'scientific'">scientific</mat-option>
      <mat-option [value]="'engineering'">engineering</mat-option>
      <mat-option [value]="'compact'">compact</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Sign display</mat-label>
    <mat-select [(ngModel)]="signDisplay">
      <mat-option [value]="undefined">Browser default</mat-option>
      <mat-option [value]="'auto'">auto</mat-option>
      <mat-option [value]="'always'">always</mat-option>
      <mat-option [value]="'exceptZero'">exceptZero</mat-option>
      <mat-option [value]="'negative'">negative</mat-option>
      <mat-option [value]="'never'">never</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Minimum integer digits</mat-label>
    <input
      [(ngModel)]="minimumIntegerDigits"
      matInput
      max="21"
      min="1"
      type="number"
    />
    <mat-error>Please enter a number from 1 to 21</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Minimum fraction digits</mat-label>
    <input
      [(ngModel)]="minimumFractionDigits"
      matInput
      max="20"
      min="0"
      type="number"
    />
    <mat-error>Please enter a number from 0 to 20</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Maximum fraction digits</mat-label>
    <input
      [(ngModel)]="maximumFractionDigits"
      matInput
      max="20"
      min="0"
      type="number"
    />
    <mat-error>Please enter a number from 0 to 20</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Minimum significant digits</mat-label>
    <input
      [(ngModel)]="minimumSignificantDigits"
      matInput
      max="21"
      min="1"
      type="number"
    />
    <mat-error>Please enter a number from 1 to 21</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Maximum significant digits</mat-label>
    <input
      [(ngModel)]="maximumSignificantDigits"
      matInput
      max="21"
      min="1"
      type="number"
    />
    <mat-error>Please enter a number from 1 to 21</mat-error>
  </mat-form-field>
</div>

<p>
  {{
    enteredNumber
      | intlUnit
        : selectedUnit
        : {
            locale,
            unitDisplay: unitDisplay,
            notation,
            signDisplay,
            minimumIntegerDigits: minimumIntegerDigits ?? undefined,
            minimumFractionDigits: minimumFractionDigits ?? undefined,
            maximumFractionDigits: maximumFractionDigits ?? undefined,
            minimumSignificantDigits: minimumSignificantDigits ?? undefined,
            maximumSignificantDigits: maximumSignificantDigits ?? undefined
          }
  }}
</p>
