<div class="fields-container">
  <mat-form-field>
    <mat-label>Date</mat-label>
    <input
      #picker
      [(ngModel)]="selectedDate"
      matInput
      placeholder="Choose a date"
      type="datetime-local"
    />
    <button (click)="picker.showPicker()" mat-icon-button matIconSuffix>
      <mat-icon>today</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Locale</mat-label>
    <mat-select [(ngModel)]="locale">
      <mat-option [value]="undefined">Browser default</mat-option>
      @for (language of languages; track language) {
        <mat-option [value]="language">{{ language }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Numeric</mat-label>
    <mat-select [(ngModel)]="numeric">
      <mat-option [value]="undefined">Browser default</mat-option>
      <mat-option [value]="'auto'">auto</mat-option>
      <mat-option [value]="'always'">always</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Style</mat-label>
    <mat-select [(ngModel)]="style">
      <mat-option [value]="undefined">Browser default</mat-option>
      <mat-option [value]="'long'">long</mat-option>
      <mat-option [value]="'short'">short</mat-option>
      <mat-option [value]="'narrow'">narrow</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<p>{{ selectedDate | intlRelativeTime: { locale, numeric, style } }}</p>
