<div class="fields-container">
  <mat-form-field>
    <mat-label>Country to transform</mat-label>
    <mat-select [(ngModel)]="selectedCountry">
      @for (country of countries; track country) {
        <mat-option [value]="country">{{ country }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Locale</mat-label>
    <mat-select [(ngModel)]="locale">
      <mat-option [value]="undefined">Browser default</mat-option>
      @for (language of languages; track language) {
        <mat-option [value]="language">{{ language }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<p>{{ selectedCountry | intlCountry: { locale } }}</p>
