<div class="fields-container">
  <mat-form-field>
    <mat-label>Language to transform</mat-label>
    <mat-select [(ngModel)]="selectedLanguage">
      <mat-option *ngFor="let language of languages" [value]="language">{{language}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Locale</mat-label>
    <mat-select [(ngModel)]="locale">
      <mat-option [value]="undefined">Browser default</mat-option>
      <mat-option *ngFor="let language of languages" [value]="language">{{language}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Language display</mat-label>
    <mat-select [(ngModel)]="languageDisplay">
      <mat-option [value]="undefined">Browser default</mat-option>
      <mat-option [value]="'dialect'">dialect</mat-option>
      <mat-option [value]="'standard'">standard</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<p>{{selectedLanguage | intlLanguage: {languageDisplay, locale} }}</p>
