<div class="fields-container">
  <mat-form-field>
    <mat-label>Language to transform</mat-label>
    <mat-select [(ngModel)]="selectedLanguage">
      @for (language of languages; track $index) {
        <mat-option [value]="language">{{ language }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Locale</mat-label>
    <mat-select [(ngModel)]="locale">
      <mat-option [value]="undefined">Browser default</mat-option>
      @for (language of languages; track $index) {
        <mat-option [value]="language">{{ language }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Language display</mat-label>
    <mat-select [(ngModel)]="languageDisplay">
      <mat-option [value]="undefined">Browser default</mat-option>
      <mat-option [value]="'dialect'">dialect</mat-option>
      <mat-option [value]="'standard'">standard</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<p>{{ selectedLanguage() | intlLanguage: options() }}</p>
