name: Verify build

permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: refs/pull/${{ github.event.pull_request.number }}/merge

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        name: Install pnpm
        with:
          run_install: false

      - name: install
        run: pnpm install --frozen-lockfile

      - name: build
        run: pnpm build

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: refs/pull/${{ github.event.pull_request.number }}/merge

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        name: Install pnpm
        with:
          run_install: false

      - name: install
        run: pnpm install --frozen-lockfile

      - name: lint
        run: pnpm lint

  test-chrome:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: refs/pull/${{ github.event.pull_request.number }}/merge

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        name: Install pnpm
        with:
          run_install: false

      - name: install
        run: pnpm install --frozen-lockfile

      - name: Install Playwright Browsers
        run: pnpm --filter ./libs/* exec playwright install chromium

      - name: test
        run: pnpm test

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  test-firefox:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: refs/pull/${{ github.event.pull_request.number }}/merge

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        name: Install pnpm
        with:
          run_install: false

      - name: install
        run: pnpm install --frozen-lockfile

      - name: Install Playwright Browsers
        run: pnpm --filter ./libs/* exec playwright install firefox

      - name: test
        run: pnpm test --browsers=firefoxHeadless --no-coverage

  test-safari:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: refs/pull/${{ github.event.pull_request.number }}/merge

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        name: Install pnpm
        with:
          run_install: false

      - name: install
        run: pnpm install --frozen-lockfile

      - name: Install Playwright Browsers
        run: pnpm --filter ./libs/* exec playwright install webkit --with-deps

      - name: test
        run: pnpm test --browsers=webkitHeadless --no-coverage

  prettier:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: refs/pull/${{ github.event.pull_request.number }}/merge

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        name: Install pnpm
        with:
          run_install: false

      - name: install
        run: pnpm install --frozen-lockfile

      - name: prettier
        run: pnpm exec prettier . --check
