name: Verify build

permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: refs/pull/${{ github.event.pull_request.number }}/merge

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: install
        run: pnpm install --frozen-lockfile

      - name: build
        run: pnpm build

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: refs/pull/${{ github.event.pull_request.number }}/merge

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: install
        run: pnpm install --frozen-lockfile

      - name: lint
        run: pnpm lint

  test-chrome:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: refs/pull/${{ github.event.pull_request.number }}/merge

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: install
        run: pnpm install --frozen-lockfile

      - name: Install Playwright Browsers
        run: pnpm dlx playwright install chromium

      - name: test
        run: pnpm test --browsers=chromiumHeadless

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  test-firefox:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: refs/pull/${{ github.event.pull_request.number }}/merge

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: install
        run: pnpm install --frozen-lockfile

      - name: Install Playwright Browsers
        run: pnpm dlx playwright install firefox

      - name: test
        run: pnpm test --browsers=firefoxHeadless --code-coverage=false

  test-safari:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: refs/pull/${{ github.event.pull_request.number }}/merge

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: install
        run: pnpm install --frozen-lockfile

      - name: Install Playwright Browsers
        run: pnpm dlx playwright install webkit --with-deps

      - name: test
        run: pnpm test --browsers=webkitHeadless --code-coverage=false

  prettier:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: refs/pull/${{ github.event.pull_request.number }}/merge

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: install
        run: pnpm install --frozen-lockfile

      - name: prettier
        run: pnpm exec prettier . --check
